@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2);
}

body {
  width: 1920px;
  height: 1080px;
	margin: 0px;
	background-color: black;
  overflow: hidden;
}
  
#main {
  position: relative;
  width: 1920px;
  height: 1080px;
	background-color: black;
  text-align: center;
}

#video {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

ul {
	list-style-type: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

a {
	color: white;
	text-decoration: none;
}

#links {
	position: absolute;
	z-index: 2;
	background: rgba(0, 0, 0, 0.6);
	top: 0px;
	left: 420px;
	width: 1080px;
	color: white;
  font: 86pt Montserrat, "Apple Color Emoji", "Noto Color Emoji";
  font-weight: 300;
	padding-top: 1080px;
	padding-bottom: 1080px;
}

.selected {
	font-weight: 700;	
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	z-index: 1;
}

.hero {
	position: absolute;
	top: 100px;
	left: 200px;
	width: 1520px;
	z-index: 2;
}

.hero2 {
	position: absolute;
	top: 150px;
	left: 100px;
	width: 1720px;
	z-index: 2;
}